body {
  background: #041425;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.stars {
  position: absolute;
  z-index: 0;
  background-repeat: repeat;
  width: 100%;
  height: auto;
}

.earth {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  z-index: 200;
}

.moon {
  position: absolute;
  width:150px;
  height:150px;
  top: 1rem;
  left: 1rem;
}

.verse {
  font-family: "Inter", sans-serif;
  width: 70%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#verse {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: "20rem";
}

.reference {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

p {
  color: white;
  font-family: "Inter", sans-serif;
}
